<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet" >
    <script src="{{url_for('static', filename='script.js')}}" defer></script>
    <title>Money Accounts | Add Account</title>
</head>
<body>
    <!-- implenting a navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="/home">Money Tracker App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item active">
                    <a class="nav-link" href="/help">Help<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/notifications">Notifications<span class="sr-only"></span></a>
                </li>
                <a class="btn btn-outline-light" href="/add-account">+ Add Account</a>
            </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.first_name}}'s Profile
                            
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile">Profile Page</a>
                            <a class="dropdown-item" href="/account">Accounts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid mt-3">
        <form method="POST">
            <div class="form-group">
                <label for="Payday">How often is your Payday?</label>
                <input type="text" name="payday-content" id="payday-content" class="form-control" placeholder="(Weekly or Bi-weekly?)">
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label for="Paycheck">How much is your Paycheck?</label>
                <input type="number" name="paycheck-content" id="paycheck-content" class="form-control" placeholder="Paycheck Amount">
            </div>
            <br/>
            <br/>
            <button class="btn btn-primary btn-lg btn-block">Add Paycheck Info</button>
        </form>
        <br/>
        <p>This page will show a list of all paychecks and paydays for the year. It will also implement the 50-30-20 rule for your paycheck amount.</p>
        <br/>
        <!-- Printing the payment schedule in the form of a table (Took forever this damn way without using a loop!)-->
        {% if payday == 'weekly' %}
        <table class="table table-striped">
            <tr>
                <th>Payday Schedule for 2022:</th>
            </tr>
            <tr>
                <td>1 | {{table[0]}}</td>
            </tr>
            <tr>
                <td>2 | {{table[1]}}</td>
            </tr>
            <tr>
                <td>3 | {{table[2]}}</td>
            </tr>
            <tr>    
                <td>4 | {{table[3]}}</td>
            </tr>
            <tr>    
                <td>5 | {{table[4]}}</td>
            </tr>
            <tr>    
                <td>6 | {{table[5]}}</td>
            </tr>
            <tr>   
                <td>7 | {{table[6]}}</td>
            </tr>
            <tr>    
                <td>8 | {{table[7]}}</td>
            </tr>
            <tr>    
                <td>9 | {{table[8]}}</td>
            </tr>
            <tr>    
                <td>10 | {{table[9]}}</td>
            </tr>
            <tr>    
                <td>11 | {{table[10]}}</td>
            </tr>
            <tr>   
                <td>12 | {{table[11]}}</td>
            </tr>
            <tr>    
                <td>13 | {{table[12]}}</td>
            </tr>
            <tr>   
                <td>14 | {{table[13]}}</td>
            </tr>
            <tr>    
                <td>15 | {{table[14]}}</td>
            </tr>
            <tr>    
                <td>16 | {{table[15]}}</td>
            </tr>
            <tr>   
                <td>17 | {{table[16]}}</td>
            </tr>
            <tr>   
                <td>18 | {{table[17]}}</td>
            </tr>
            <tr>   
                <td>19 | {{table[18]}}</td>
            </tr>
            <tr>    
                <td>20 | {{table[19]}}</td>
            </tr>
            <tr>    
                <td>21 | {{table[20]}}</td>
            </tr>
            <tr>    
                <td>22 | {{table[21]}}</td>
            </tr>
            <tr>    
                <td>23 | {{table[22]}}</td>
            </tr>
            <tr>    
                <td>24 | {{table[23]}}</td>
            </tr>
            <tr>    
                <td>25 | {{table[24]}}</td>
            </tr>
            <tr>    
                <td>26 | {{table[25]}}</td>
            </tr>
            <tr>    
                <td>27 | {{table[26]}}</td>
            </tr>
            <tr>    
                <td>28 | {{table[27]}}</td>
            </tr>
            <tr>    
                <td>29 | {{table[28]}}</td>
            </tr>
            <tr>    
                <td>30 | {{table[29]}}</td>
            </tr>
            <tr>    
                <td>31 | {{table[30]}}</td>
            </tr>
            <tr>    
                <td>32 | {{table[31]}}</td>
            </tr>
            <tr>    
                <td>33 | {{table[32]}}</td>
            </tr>
            <tr>    
                <td>34 | {{table[33]}}</td>
            </tr>
            <tr>    
                <td>35 | {{table[34]}}</td>
            </tr>
            <tr>    
                <td>36 | {{table[35]}}</td>
            </tr>
            <tr>    
                <td>37 | {{table[36]}}</td>
            </tr>
            <tr>    
                <td>38 | {{table[37]}}</td>
            </tr>
            <tr>    
                <td>39 | {{table[38]}}</td>
            </tr>
            <tr>    
                <td>40 | {{table[39]}}</td>
            </tr>
            <tr>    
                <td>41 | {{table[40]}}</td>
            </tr>
            <tr>   
                <td>42 | {{table[41]}}</td>
            </tr>
            <tr>    
                <td>43 | {{table[42]}}</td>
            </tr>
            <tr>    
                <td>44 | {{table[43]}}</td>
            </tr>
            <tr>    
                <td>45 | {{table[44]}}</td>
            </tr>
            <tr>    
                <td>46 | {{table[45]}}</td>
            </tr>
            <tr>   
                <td>47 | {{table[46]}}</td>
            </tr>
            <tr>    
                <td>48 | {{table[47]}}</td>
            </tr>
            <tr>    
                <td>49 | {{table[48]}}</td>
            </tr>
            <tr>    
                <td>50 | {{table[49]}}</td>
            </tr>
            <tr>   
                <td>51 | {{table[50]}}</td>
            </tr>
            <tr>    
                <td>52 | {{table[51]}}</td>
            </tr>
        </table>
        {% elif payday == 'bi-weekly' %}
        <table class="table table-striped">
            <tr>
                <th>Payday Schedule for 2022:</th>
            </tr>
            <tr>
                <td>1 | {{table[0]}}</td>
            </tr>
            
            <tr>
                <td>3 | {{table[2]}}</td>
            </tr>
            
            <tr>    
                <td>5 | {{table[4]}}</td>
            </tr>
            
            <tr>   
                <td>7 | {{table[6]}}</td>
            </tr>
            
            <tr>    
                <td>9 | {{table[8]}}</td>
            </tr>
            
            <tr>    
                <td>11 | {{table[10]}}</td>
            </tr>
            
            <tr>    
                <td>13 | {{table[12]}}</td>
            </tr>
            
            <tr>    
                <td>15 | {{table[14]}}</td>
            </tr>
            
            <tr>   
                <td>17 | {{table[16]}}</td>
            </tr>
            
            <tr>   
                <td>19 | {{table[18]}}</td>
            </tr>
            
            <tr>    
                <td>21 | {{table[20]}}</td>
            </tr>
            
            <tr>    
                <td>23 | {{table[22]}}</td>
            </tr>
            
            <tr>    
                <td>25 | {{table[24]}}</td>
            </tr>
            
            <tr>    
                <td>27 | {{table[26]}}</td>
            </tr>
            
            <tr>    
                <td>29 | {{table[28]}}</td>
            </tr>
            
            <tr>    
                <td>31 | {{table[30]}}</td>
            </tr>
            
            <tr>    
                <td>33 | {{table[32]}}</td>
            </tr>
            
            <tr>    
                <td>35 | {{table[34]}}</td>
            </tr>
            
            <tr>    
                <td>37 | {{table[36]}}</td>
            </tr>
            
            <tr>    
                <td>39 | {{table[38]}}</td>
            </tr>
            
            <tr>    
                <td>41 | {{table[40]}}</td>
            </tr>
            
            <tr>    
                <td>43 | {{table[42]}}</td>
            </tr>
            
            <tr>    
                <td>45 | {{table[44]}}</td>
            </tr>
            
            <tr>   
                <td>47 | {{table[46]}}</td>
            </tr>
            
            <tr>    
                <td>49 | {{table[48]}}</td>
            </tr>
            
            <tr>   
                <td>51 | {{table[50]}}</td>
            </tr>
            
        </table>
        {% endif %}
        <br/>
        <!-- displaying the flashed messages-->
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %} 
                    {% if category == 'error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %} 
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


    <!-- cant forget to import the js son-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>