<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet" >
    <script src="{{url_for('static', filename='script.js')}}" defer></script>    
    <title>Welcome to the Money Tracker App, {{ user.first_name }}</title>
</head>
<body>
    <!-- implenting a navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="/home">Money Tracker App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/financial-calculator">Financial Calculator<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/help">Help<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/notifications">Notifications<span class="sr-only"></span></a>
                </li>
                <a class="btn btn-outline-light" href="/add-account">+ Add Account</a>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.first_name}}'s Profile
                        
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">Profile Page</a>
                        <a class="dropdown-item" href="/account">Accounts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <br/>
        <p>This is a list of paydays for the weekly pay schedule. In other words, here is the list of every Friday for the year.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Payday Schedule for 2022:</th>
                </tr>
            </thead>
            <tbody>
                <!-- 1st col-->
                <tr>
                    <td>1 | {{table[0]}}</td>
                    <td>14 | {{table[13]}}</td>
                    <td>27 | {{table[26]}}</td>
                    <td>40 | {{table[39]}}</td>
                </tr>
                <!-- 2nd col-->
                <tr>
                    <td>2 | {{table[1]}}</td>
                    <td>15 | {{table[14]}}</td>
                    <td>28 | {{table[27]}}</td>
                    <td>41 | {{table[40]}}</td>
                </tr>
                <!-- 3rd col-->
                <tr>
                    <td>3 | {{table[2]}}</td>
                    <td>16 | {{table[15]}}</td>
                    <td>29 | {{table[28]}}</td>
                    <td>42 | {{table[41]}}</td>
                </tr>
                <!-- 4th col-->
                <tr>    
                    <td>4 | {{table[3]}}</td>
                    <td>17 | {{table[16]}}</td>
                    <td>30 | {{table[29]}}</td>
                    <td>43 | {{table[42]}}</td>
                </tr>
                <!-- 5th col-->
                <tr>    
                    <td>5 | {{table[4]}}</td>
                    <td>18 | {{table[17]}}</td>
                    <td>31 | {{table[30]}}</td>
                    <td>44 | {{table[43]}}</td>
                </tr>
                <!-- 6th col-->
                <tr>    
                    <td>6 | {{table[5]}}</td>
                    <td>19 | {{table[18]}}</td>
                    <td>32 | {{table[31]}}</td>
                    <td>45| {{table[44]}}</td>
                </tr>
                <!-- 7th col-->
                <tr>   
                    <td>7 | {{table[6]}}</td>
                    <td>20 | {{table[19]}}</td>
                    <td>33 | {{table[32]}}</td>
                    <td>46 | {{table[45]}}</td>
                </tr>
                <!-- 8th col-->
                <tr>    
                    <td>8 | {{table[7]}}</td>
                    <td>21 | {{table[20]}}</td>
                    <td>34 | {{table[33]}}</td>
                    <td>47 | {{table[46]}}</td>
                </tr>
                <!-- 9th col-->
                <tr>    
                    <td>9 | {{table[8]}}</td>
                    <td>22 | {{table[21]}}</td>
                    <td>35 | {{table[34]}}</td>
                    <td>48 | {{table[47]}}</td>
                </tr>
                <!-- 10th col-->
                <tr>    
                    <td>10 | {{table[9]}}</td>
                    <td>23 | {{table[22]}}</td>
                    <td>36 | {{table[35]}}</td>
                    <td>49 | {{table[48]}}</td>
                </tr>
                <!-- 11th col-->
                <tr>    
                    <td>11 | {{table[10]}}</td>
                    <td>24 | {{table[23]}}</td>
                    <td>37 | {{table[36]}}</td>
                    <td>50 | {{table[49]}}</td>
                </tr>
                <!-- 12th col-->
                <tr>   
                    <td>12 | {{table[11]}}</td>
                    <td>25 | {{table[24]}}</td>
                    <td>38 | {{table[37]}}</td>
                    <td>51 | {{table[50]}}</td>
                </tr>
                <!-- 13th col-->
                <tr>    
                    <td>13 | {{table[12]}}</td>
                    <td>26 | {{table[25]}}</td>
                    <td>39 | {{table[38]}}</td>
                    <td>52 | {{table[51]}}</td>
                </tr>
            </tbody>
            <tfoot>
                <!-- the first paycheck variable is the variable used from the "home"method in views.py -->
                <!-- the second paycheck variable is "Paycheck" database in the SQL table  -->
                {% for paycheck in paycheck %}
                <tr>
                    <td>Your paycheck amount for the year is: ${{paycheck.amount}}, {{paycheck.payday}}</td>
                </tr>
                <tr>
                    <td>Your estimated salary for the year is, before taxes, {{paycheck.amount}}*52</td>
                </tr>
                {% endfor %}
            </tfoot>
        </table>


        <!-- displaying the flashed messages-->
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %} 
                    {% if category == 'error' %}
                    <div class="alert alert-danger alter-dismissable fade show mt-3" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% elif category == 'success' %}
                    <div class="alert alert-success alter-dismissable fade show mt-3" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-light alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %} 
                {% endfor %}
            {% endif %}
        {% endwith %}        
    </div>


    
    <!-- cant forget to import the js son-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
</html>